.right-seach-box{
  top: 0;
  z-index: 4;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.877);
}
.search-label {
  position: relative;
  width: 100%;
}

.search-label::before {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 20px;
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/img/search.png");
  content: "";
}

.search-input {
  font-size: 16px;
  color: #5C6C79;
  padding: 10px 10px;
  padding-left: 64px;
  width: 100%;
  background-color: #EFF3F4;
  margin-bottom: 11px;
  border: none;
  border-radius: 31px;
  outline: none;
}
